.viewport::ng-deep video {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  .tabla-detalle-popup
{
  width: 100% ;
  text-align: left !important;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.table th
{
  width: 50% !important ;
}